<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="@Url.Content("~/Content/Site.less")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.ui/1.8.15/jquery-ui.js"></script>

    @RenderSection("head", false)
</head>

<body>
    <div id="content">
    <h1>Steam Match-up</h1>
    @RenderBody()
    </div>
    <div>&copy; @DateTime.Now.Year <a href="http://www.djeebus.net/">DJeebus.net</a></div>
</body>
</html>
